.container {
  margin: 0 !important;
  padding: 0 !important;
}
// /* this just clears the header since clearfix isn't working (pry becasue position fixed)*/
// .page-container {
//   margin-top: 91px;
// }
header {
  background-color: $darker-grey;
  border-bottom: 4px solid $tanish;
  clear: both;
  color: $white;
  height: 91px;
  width:100%;
  position:absolute;
  top:0;
  left:0;
  .home-page & {
    padding: 0;
    .app-logo {
      padding: 0;
    }
  }
  .app-logo {
    padding: rem-calc(10);
  }
}

.route--active {
  font-weight: bold;
  text-decoration: underline;
}

.project-header {
  margin: 2rem 0 .75rem;
}
